body {
    /*background-color: #3a0ca3;*/
    background-color: #3f37c9;
}

h1 {
    text-align: center;
    font-family: 'Anton';
    font-size: 45px;
    letter-spacing: 1px;
    color: white;
    filter: drop-shadow(0 0 0.3rem #f72585);
    padding-bottom: 5px;
}

nav #navbar {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Anton';
    font-size: 20px;
    letter-spacing: .5px;
    color: white;
    filter: drop-shadow(0 0 0.3rem #f72585);
    list-style-type: none;
    padding-bottom: 20px;
    border-bottom: 2px solid #fcd5ce;
}

li:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

.Dumbbells {
    display: block;
    margin: auto;
    object-fit: contain;
    width: 100px;
}

#JeopardyLogo {
    display: block;
    margin: auto;
    object-fit: contain; 
    width: 75%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-size: 35px;
    color: white;
    filter: drop-shadow(0 0 0.1rem #f72585);
}

.container div {
    font-size: 25px;
    color: white;
}

#answer-box {
    padding-bottom: 20px;
}

#question-box {
    padding-bottom: 20px;
}

#categories {
    color: #fae1dd;
}

h3 {
    color: #fae1dd;
}

#categories ul li {
    color: #fae1dd;
}

#question-button, #answer-button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 120px;
  margin-bottom: .5px;
}

#question-button:hover,
#question-button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

#question-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#question-button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
